<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/nav.css">
<link rel="stylesheet" href="css/create-customer.css">
</head>
<%- include('../includes/body.ejs') %>
<%- include('../includes/nav.ejs') %>
<form action="/update-customer" method="POST" class="container">
    <div class="customer__list">
        <p class="customer__list__header">Update an Existing Customer</p>
        <p class="customer__list__para">Please provide customer information</p>
        <input type="text" name="name" id="name" placeholder="Customer Name" class="customer__list__item" value="<%=customer.name%>" required>
        <input type="tel" name="phnNo" id="phnNo" placeholder="Phone Number" class="customer__list__item" value="<%=customer.phnNo%>" required>
        <input type="text" name="imageUrl" id="imageUrl" placeholder="Picture Link" class="customer__list__item" value="<%=customer.imageUrl%>" required>
        <textarea name="address" id="address" cols="30" rows="10" class="customer__list__item"
            placeholder="Address" ><%=customer.address%></textarea>
        <input type="hidden" name="_csrf" id="csrf" value="<%=csrfToken%>">
        <input type="hidden" name="id" id="id" value="<%=customer.id%>">
        <button type="submit" class="customer__list__btn__signup">Update</button>
    </div>
    <div class="customer__message" style=<%=props%>>
        <p><%=message%></p>
    </div>
</form>

<%- include('../includes/foot.ejs') %>